@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
 
body {
  width: 960px;
  margin: 40px auto;
  font: 14px "Helvetica Neue", "Helvetica", "Verdana";
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


/* -- Activity stream --
 *
 * These styles are used to render the activity stream as an ordered list of activities.
 * The root element is OL.activities
 */
ol.stream {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 640px;
  float: left;
}
ol.stream > li {
  margin: 0;
  padding: 8px 0 12px 0;
}
ol.stream + aside {
  float: right;
  width: 240px;
}

/* Use this style to highlight new activities added to the stream */
.stream > li.highlight {
  background-color: #ff8;
  -webkit-transition-duration: 0ms;
  -moz-transition-duration: 0ms;
}
.stream > li {
 background-color: #fff;
 -webkit-transition: background-color;
 -webkit-transition-timing-function: ease-in;
 -webkit-transition-duration: 2000ms;
 -moz-transition: background-color;
 -moz-transition-timing-function: ease-in;
 -moz-transition-duration: 2000ms;
}


/* -- Activity --
 *
 * These styles are used to render a single activity anywhere (not just inside a stream).
 * The root element is DIV.activity
 */
.activity {
  position: relative;
  margin: 0;
  padding: 0px 0 0 48px;
}
.activity .color {
  position: absolute;
  left: 4px;
  width: 8px;
  top: 0px;
  bottom: 0px;
  background-color: #ccc;
}
/* Make entire activity clickable to permalink, but without breaking actual links or images */
.activity a {
  z-index: 2;
  position: relative;
}
.activity a img {
  z-index: 2;
  position: relative;
}
.activity .permalink {
  width: 600px;
  display: block;
  position: absolute;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* Avatar shows to the left of actor name */
.activity .actor .avatar {
  width: 24px;
  height: 24px;
  margin: 0px 8px -12px -32px;
}
/* Space between actor verb and object */
.activity .verb:before, 
.activity .verb:after {
  content: " "
}
/* Size limit on media image */
.activity .image img {
  width: 200px;
  display: block;
  margin: 12px 24px;
}
/* Published/location in small text underneath */
.activity .meta {
  font-size: 12px;
  font-weight: 200;
  display: block;
  margin: 4px 0 0 0;
}
.activity .published:before {
  content: "Published "
}
.activity .location:before {
  content: " from "
}


/* -- Verb selector --
 */
.verb-selector {
  list-style: none;
  margin: 0;
  padding: 0;
}
.verb-selector li {
  margin-bottom: 8px;
}
.verb-selector li a {
  display: inline-block;
  padding: 2px 0 4px 12px;
  background-color: #ccc;
  border-radius: 8px 0 0 8px;
  width: 2.5em;
}
.verb-selector li a:after {
  content: "On";
}
.verb-selector li a.hide {
  background-color: #eee;
}
.verb-selector li a.hide:after {
  content: "Off";
}
.verb-selector li span {
  display: inline-block;
  padding: 2px 8px 4px 8px;
  border-radius: 0 8px 8px 0;
  margin-left: 2px;
  width: 8em;
}


/* -- Charts and stuff --
 *
 */
#charts {
  position: relative;
  padding: 10px 0;
  font-family: "Yanone Kaffeesatz";
}

.chart {
  display: inline-block;
  margin-bottom: 20px;
}

.chart.verbs rect {
  fill: white;
  opacity: 0.5;
}
.chart.verbs .values text {
  fill: white;
}

.chart.verbs text.label {
  fill: black;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

#hour-chart {
  width: 260px;
}

#day-chart {
  width: 90px;
}

#date-chart {
  width: 920px;
}

#verb-chart {
  width: 220px;
}

