#!coffee

# ElasticSearch server and index name
elasticsearch:
  hostname:   "localhost"
  port:       9200
  index:      "vanity"

# Redis server and prefix
redis:
  hostname:   "localhost"
  port:       6379
  prefix:     "vanity"

# To send logs to a Syslog server
# syslog:
#   host:     "syslog.host"
#   port:     514
#   protocol: "tcp4"
#   type:     "RFC3164"
